.type-writer {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.15em;
  position: relative;
}
.type-writer::after {
  content: "";
  position: absolute;
  border-right: 1px solid black;
  height: 1.3pc;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
