.animated-button {
  background-color: white;
  box-shadow: 3px 3px 10px 1px var(--color), inset 0 0 5px var(--color);
  border: 1px solid var(--color);
  color: black;
  padding: 5px 10px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 300ms ease; /* Smooth transition */
}

.animated-button:hover {
  transform: scale(1.01);
}

.animated-button:active {
  transform: scale(0.95);
}

.animated-button:focus {
  outline: none;
}

.animated-button:disabled {
  background-color: #d3d3d3; /* Light grey background when disabled */
  cursor: not-allowed; /* Not-allowed cursor */
}
