.Tabs {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  padding: 5px;
}
.Tabs-names {
  display: flex;
  gap: 5px;
}
.Tab-name {
  padding: 2px 12px;
  transition: border-radius 300ms;
  cursor: pointer;
}
.active-tab {
  border: 2px solid var(--tabColor);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.active-tab::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: -2px;
  z-index: 1;
}
.Tab-name:hover {
  border: 2px solid var(--tabColor);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.Tabs-area {
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--tabColor);
}
.Tabs-area > div {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  transition: left 300ms;
}
.Tab {
  width: 100%;
  min-width: 100%;
  height: 100%;
}
