.toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
  padding: 2px;
}
.toggle-area {
  display: flex;
  justify-content: flex-end;
  width: calc(var(--ballSize) * 2 + 8px);
  background-color: lightgray;
  border-radius: 100000px;
  padding: 4px;
  transition: all;
  cursor: pointer;
}
.toggle-ball-container {
  transition: width;
}
.toggle-ball {
  width: var(--ballSize);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: grey;
}
