@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
code {
  font-family: monospace !important;
}
header {
  font-size: xx-large;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 0 10px lightgray;
  position: sticky;
  top: 0;
  background-color: white;
}
header img {
  height: 32px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  gap: 10px;
  padding: 10px;
}
main > * {
  min-height: 40vh;
}
#welcome-section {
  height: 60vh;
  grid-column: 1 / span 3;
  display: grid;
  gap: 5px;
  border-radius: 5px;
  place-content: center;
  place-items: center;
  background-image: url("/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

#welcome-section > p:nth-child(1) {
  font-size: 3vw;
}

#install-message {
  opacity: 0;
  animation: easeInTop 500ms ease-in 200ms forwards;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 5px;
  margin-top: 10vh;
}
#install-message p {
  background-color: #e3f4f9;
  padding: 2px;
  border-radius: 5px;
}
#install-message code {
  border: 1px solid white;
  background-color: lightgray;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
@keyframes easeInTop {
  from {
    translate: 0 -100%;
    opacity: 0;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray; /* Set the thumb color */
}

/* Mobile styles (max-width: 767px) */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* Smaller font for mobile */
    /* Other mobile-specific styles */
  }
  main {
    grid-template-columns: 1fr;
  }
  #welcome-section {
    grid-column: 1;
  }
  #welcome-section > p:nth-child(1) {
    font-size: 7vw;
  }
}

/* Tablet styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px; /* Default font size */
    /* Other tablet-specific styles */
  }
  main {
    grid-template-columns: 1fr;
  }
  #welcome-section {
    grid-column: 1;
  }
  #welcome-section > p:nth-child(1) {
    font-size: 7vw;
  }
}

/* Desktop styles (min-width: 1025px) */
/* @media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
} */
