.component-warper {
  height: 100%;
  border: 1px solid lightgray;
  display: grid;
  gap: 5px;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  border-radius: 5px;
  background-color: #cbdce169;
}

.component-warper > h3,
.component-doc > h3 {
  border-bottom: 3px solid white;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6a7e90;
  cursor: pointer;
  transition: all 300ms;
}
.component-warper > h3:hover {
  text-decoration: underline;
  background-color: #cbdce1;
}
.component-warper > div {
  height: 100%;
  width: 100%;
  padding: 5px;
}

.component-doc {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: max-content;
  background-color: white;
  width: 80vw;
  height: 90vh;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

.component-doc > h3 {
  grid-column: 1 / span 2;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  cursor: auto;
}

.component-doc > div:nth-child(2) {
  border-right: 1px solid lightgray;
}

.doc-tab {
  background-color: #b5d3dd33;
  overflow: auto;
}
.doc-overview {
  padding: 10px;
  display: grid;
  gap: 10px;
}
.doc-overview > p {
  font-size: 0.9rem;
}

.doc-overview > pre > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  background-color: #cbdce1;
  padding: 5px;
  color: #6a7e90;
  font-weight: bold;
}
.doc-overview > pre > div:nth-child(2) {
  border: 3px solid #cbdce1;
  padding: 5px;
  background-color: white;
}

/* .doc-props {
  
} */

/* Mobile styles (max-width: 767px) */
@media (max-width: 767px) {
  .component-doc {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 80vh;
  }
  .component-doc > h3 {
    grid-column: 1;
  }
  .component-doc > div:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid lightgray;
    height: max-content;
    padding: 10px 5px;
  }
}

/* Tablet styles (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
}
